<wj-flex-grid style="margin-top: 20px; " [itemsSource]="_dataPeople" [selectionMode]="selectionMode || 'Cell'">
  <wj-flex-grid-column header="Seçenekler" [width]="'*'" [isReadOnly]="true">
    <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
      <div style="display: flex; justify-content: space-around">
        <button (click)="doDelete(cell.item)">Delete</button>
        <button type="link" [routerLink]="'/person-register/' + cell.item.id">Update</button>
      </div>
    </ng-template>
  </wj-flex-grid-column>
  <wj-flex-grid-column [header]="'Name'" [binding]="'name'" [width]="'*'" [isReadOnly]="true"></wj-flex-grid-column>
  <wj-flex-grid-column [header]="'Surname'" [binding]="'surname'" [width]="'*'"></wj-flex-grid-column>
  <wj-flex-grid-column [header]="'Phone'" [binding]="'phone'" [width]="'*'"></wj-flex-grid-column>
  <wj-flex-grid-column [header]="'Country'" [binding]="'_country.name'" [width]="'*'"></wj-flex-grid-column>
  <wj-flex-grid-column [header]="'City'" [binding]="'_city.name'" [width]="'*'"></wj-flex-grid-column>
</wj-flex-grid>
<div class="input-group">
  <span class="input-group-addon">
    <span class="glyphicon glyphicon-filter"></span>
  </span>
  <input type="text" class="form-control" placeholder="filter" [(ngModel)]="filterBy" />
</div>

<wj-menu [(value)]="selectionMode" [header]="'Selection Mode'">
  <wj-menu-item [value]="'None'">None</wj-menu-item>
  <wj-menu-item [value]="'Cell'">Cell</wj-menu-item>
  <wj-menu-item [value]="'CellRange'">CellRange</wj-menu-item>
  <wj-menu-item [value]="'Row'">Row</wj-menu-item>
  <wj-menu-item [value]="'RowRange'">RowRange</wj-menu-item>
  <wj-menu-item [value]="'ListBox'">ListBox</wj-menu-item>
</wj-menu>

<wj-menu [(value)]="groupBy" header="Group By">
  <wj-menu-item value="">None</wj-menu-item>
  <wj-menu-item value="_country.name">Country</wj-menu-item>
  <wj-menu-item value="name">Name</wj-menu-item>
</wj-menu>